#include "defines.h"
#include <Windows.h>

//-PADRAO-//
DBOX_MAIN_BLANK DIALOG 0, 0, 0, 0
STYLE WS_OVERLAPPEDWINDOW | DS_MODALFRAME
BEGIN
END

DBOX_MAIN_BLANK_WIN DIALOGEX 0, 0, 200, 150
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
END





//-CAIXA DE SELECAO DOS BARBEIROS-//
DBOX_BLANK_SELECBARB 
DBOX_PADRAO_UPPER
CAPTION "Selecionando barbeiros..."
DBOX_PADRAO_DOWN

//-CAIXA DE SELECAO DOS CORTES-//
DBOX_BLANK_SELECORTE 
DBOX_PADRAO_UPPER
CAPTION "Selecionando cortes..."
DBOX_PADRAO_DOWN

//-CAIXA DE SELECAO DOS PRODUTOS-//
DBOX_BLANK_SELECPROD 
DBOX_PADRAO_UPPER
CAPTION "Selecionando produtos..."
DBOX_PADRAO_DOWN
